<footer class="footer-area pt-100 pb-75">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-6">
          <div class="single-footer-widget">
            <div class="widget-logo">
              <a href="index.html">
                <img src="assets/images/logo.png" alt="image">
              </a>
            </div>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit
              consequat ipsum thnec sagittis sem nibh id elit.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-footer-widget">
            <h3>Our Company</h3>
            <ul class="footer-links-list">
              <li><a href="about.html">Career</a></li>
              <li><a href="sponsors.html">Legal Information</a></li>
              <li><a href="sponsors.html">Credits</a></li>
              <li><a href="schedules.html">Schedules</a></li>
              <li><a href="events.html">Events</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-footer-widget">
            <h3>Follow Us</h3>
            <ul class="footer-links-list">
              <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
              <li><a href="https://twitter.com/?lang=en" target="_blank">Twitter</a></li>
              <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
              <li><a href="https://www.linkedin.com/" target="_blank">Linkedin</a></li>
              <li><a href="https://www.youtube.com/" target="_blank">Youtube</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-footer-widget">
            <h3>Quick Contact</h3>
            <ul class="widget-info">
              <li>
                <i class='bx bxs-map'></i>
                24 Callison Lane Boy, New Street, NY
              </li>
              <li>
                <i class='bx bxs-phone'></i>
                <a href="tel:0023567890">+00 234 567 890</a>
              </li>
              <li>
                <i class='bx bx-envelope-open'></i>
                <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#6c1c000302072c0b010d0500420f0301"><span
                    class="__cf_email__"
                    data-cfemail="c9b9a5a6a7a289aea4a8a0a5e7aaa6a4">[email&#160;protected]</span></a>
              </li>
            </ul>
            <ul class="widget-social">
              <li>
                <a href="https://twitter.com/?lang=en" target="_blank">
                  <i class='bx bxl-twitter'></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i class='bx bxl-facebook'></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class='bx bxl-instagram-alt'></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/" target="_blank">
                  <i class='bx bxl-linkedin'></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <div class="copyright-area">
    <div class="container">
      <div class="copyright-area-content">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <p>
              Copyright © 2021 Plonk All Rights Reserved by
              <a href="https://envytheme.com/" target="_blank">
                EnvyTheme
              </a>
            </p>
          </div>
          <div class="col-lg-6 col-md-6">
            <ul>
              <li>
                <a href="terms-of-service.html">Terms of Service</a>
              </li>
              <li>
                <a href="privacy-policy.html">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="go-top">
    <i class='bx bx-chevron-up'></i>
  </div>