{% extends "base.html" %} {% load static %} {% block content %}
<div class="main-slides-area">
  <div class="home-slides owl-carousel owl-theme">
    <div class="main-slides-item item-three">
      <div class="container">
        <div class="main-slides-content">
          <h1>The Great Drive</h1>
          <p>THE BEGINNING OF YOUR NEXT ADVENTURE STARTS HERE WITH US.</p>
          <div class="slides-btn">
            <a href="pricing.html" class="default-btn"
              ><i class="bx bx-calendar"></i> Book our next Drive<span></span
            ></a>
            <a
              href="https://www.youtube.com/watch?v=oG9reZJv6DY"
              class="optional-btn popup-youtube"
              ><i class="flaticon-play-button-arrowhead"></i> Watch Us</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about1">
  <div class="container">
    <div class="section-title mt-100">
      <p>
        Founded in 2021 , The Great
        Drive is an endurance drive during which we drive long distances to
        donate to children’s homes that are sometimes located in remote and
        forgotten places and we endeavour to provide a sustainable solution to
        their basic needs.
      </p>
    </div>
  </div>
</div>

<div class="events-schedules-area">
  <div class="container">
    <div class="section-title">
      <h2>Our Past drives</h2>
      <p>
        For the last years, we have been able to visit different homes in
        different places. Checkout our past events
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-events-schedules">
          <div class="events-image">
            <a href="events-details.html"
              ><img src="{% static 'images/logos/tsavo.jpg' %}" alt="image"
            /></a>
            <div class="tag"><a href="events.html">2019</a></div>
          </div>
          <div class="events-content">
            <span><i class="bx bx-calendar"></i> 12th - 14th March</span>
            <h3>
              <a href="events-details.html">Tsavo Great Drive</a>
            </h3>
            <p>
              The home was started in August 2014 to address the growing problem
              of street children. The institution currently houses 50 kids
              between the ages of 5yrs and 17 yrs.
            </p>
            <div class="bottom-content">
              <div class="book-btn">
                <a href="contact.html" class="book-btn-one"
                  ><i class="bx bx-arrow-to-right"></i> View More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-events-schedules">
          <div class="events-image">
            <a href="events-details.html"
              ><img src="{% static 'images/logos/nanyuki.jpg' %}" alt="image"
            /></a>
            <div class="tag"><a href="events.html">2021</a></div>
          </div>
          <div class="events-content">
            <span><i class="bx bx-calendar"></i> 3rd-4th July</span>
            <h3>
              <a href="events-details.html">Nanyuki Great Drive</a>
            </h3>
            <p>
              The home was started in August 2014 to address the growing problem
              of street children. The institution currently houses 50 kids
              between the ages of 5yrs and 17 yrs.
            </p>
            <div class="bottom-content">
              <div class="book-btn">
                <a href="contact.html" class="book-btn-one"
                  ><i class="bx bx-arrow-to-right"></i> View More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-events-schedules">
          <div class="events-image">
            <a href="events-details.html"
              ><img src="{% static 'images/logos/malindi.jpg' %}" alt="image"
            /></a>
            <div class="tag"><a href="events.html">2021</a></div>
          </div>
          <div class="events-content">
            <span><i class="bx bx-calendar"></i> 4th - 6th December</span>
            <h3>
              <a href="events-details.html">Malindi Great Drive</a>
            </h3>
            <p>
              Madras sa Answar Sunnah i s a boys only orphanage located in
              Mambrui, about 20km north of Malindi towards Gongoni area. The
              home has 50 boarders aged 5yrs - 20yrs and 138 scholars.
            </p>
            <div class="bottom-content">
              <div class="book-btn">
                <a href="contact.html" class="book-btn-one"
                  ><i class="bx bx-arrow-to-right"></i>View More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="view-all-btn">
      <a href="events.html" class="default-btn"
        ><i class="bx bx-chevron-right"></i> View All Drives<span></span
      ></a>
    </div>
  </div>
</div>
<div class="gallery-area pb-100">
  <div class="container">
    <div class="section-title">
      <h2>Our Gallery</h2>
      <p>
        At Great Drive, we love taking pictures for Memories. Its all fun seeing
        what we do. Have a look at some
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <div class="row">
          <div class="col-lg-3">
            <div class="single-gallery">
              <div class="gallery-image">
                <img
                  src="{% static 'images/logos/malindi.jpg' %}"
                  alt="image"
                />
                <div class="content">
                  <img
                    src="{% static 'images/logos/logo.jpg' %}"
                    alt="image" class="icon-image"
                  />
                  <h3>Malindi</h3>
                  <span>Event #28</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single-gallery">
              <div class="gallery-image">
                <img
                  src="{% static 'images/logos/img4.jpg' %}"
                  alt="image"
                />
                <div class="content">
                  <img
                    src="{% static 'images/logos/logo.jpg' %}"
                    alt="image" class="icon-image"
                  />
                  <h3>Malindi</h3>
                  <span>Event #28</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single-gallery">
              <div class="gallery-image">
                <img
                  src="{% static 'images/logos/img2.jpg' %}"
                  alt="image"
                />
                <div class="content">
                  <img
                    src="{% static 'images/logos/logo.jpg' %}"
                    alt="image" class="icon-image"
                  />
                  <h3>Malindi</h3>
                  <span>Event #28</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single-gallery">
              <div class="gallery-image">
                <img
                  src="{% static 'images/logos/img3.jpg' %}"
                  alt="image"
                />
                <div class="content">
                  <img
                    src="{% static 'images/logos/logo.jpg' %}"
                    alt="image" class="icon-image"
                  />
                  <h3>Malindi</h3>
                  <span>Event #28</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single-gallery">
              <div class="gallery-image">
                <img
                  src="{% static 'images/logos/img4.jpg' %}"
                  alt="image"
                />
                <div class="content">
                  <img
                    src="{% static 'images/logos/logo.jpg' %}"
                    alt="image" class="icon-image"
                  />
                  <h3>Tsavo</h3>
                  <span>Event #28</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single-gallery">
              <div class="gallery-image">
                <img
                  src="{% static 'images/logos/img6.jpg' %}"
                  alt="image"
                />
                <div class="content">
                  <img
                    src="{% static 'images/logos/logo.jpg' %}"
                    alt="image" class="icon-image"
                  />
                  <h3>Nanyuki</h3>
                  <span>Event #28</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single-gallery">
              <div class="gallery-image">
                <img
                  src="{% static 'images/logos/img7.jpg' %}"
                  alt="image"
                />
                <div class="content">
                  <img
                    src="{% static 'images/logos/logo.jpg' %}"
                    alt="image" class="icon-image"
                  />
                  <h3>Nanyuki</h3>
                  <span>Event #28</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single-gallery">
              <div class="gallery-image">
                <img
                  src="{% static 'images/logos/img8.jpg' %}"
                  alt="image"
                />
                <div class="content">
                  <img
                    src="{% static 'images/logos/logo.jpg' %}"
                    alt="image" class="icon-image"
                  />
                  <h3>Nanyuki</h3>
                  <span>Event #28</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="pagination-area">
          <a href="gallery.html" class="prev page-numbers"
            ><i class="bx bx-chevron-left"></i
          ></a>
          <span class="page-numbers current" aria-current="page">01</span>
          <a href="gallery.html" class="page-numbers">02</a>
          <a href="gallery.html" class="page-numbers">03</a>
          <a href="gallery.html" class="page-numbers">04</a>
          <a href="gallery.html" class="next page-numbers"
            ><i class="bx bx-chevron-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-us-area ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-us-image">
          <div class="">
            <div class="">
              <div class="image-two">
                <img
                  src="{% static 'images/logos/foundation.jpg' %}"
                  alt="image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-us-content">
          <span>Our Foundation</span>
          <h3>We stretch our wings to help the less fortunate</h3>
          <p>
           Our event was inspired by Gumball 3000 and so is our logo. Our logo faces upward, denoting positivity
           . We look up in life, towards good things to come.
           Our logo stretches out of its boundary, just like we do. We’re not confined. We stretch our
wings. We explore, we venture out to the unknown. We reach out to help the less fortunate.
We stretch our hands out in friendship towards each other and build strong ties.
          </p>
          <ul class="list">
            <li>
              <i class="bx bx-check"></i> We Bond
            </li>
            <li><i class="bx bx-check"></i> We are family</li>
            <li>
              <i class="bx bx-check"></i> No one gets left behind
            </li>
          </ul>
          <div class="about-btn">
            <a href="about.html" class="default-btn"
              ><i class="bx bx-chevron-right"></i> View More <span></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="partner-area ptb-100">
  <div class="container">
    <div class="partner-title">
      <h3>Plonk Gold Sponsors</h3>
    </div>
    <div class="customers-partner-list">
      <div class="partner-item">
        <a href="sponsors.html">
          <img src="{% static 'images/logos/automovers.jpg' %}" alt="image" />
        </a>
      </div>
      <div class="partner-item">
        <a href="sponsors.html">
          <img src="{% static 'images/logos/orak.png' %}" alt="image" />
        </a>
      </div>
      <div class="partner-item">
        <a href="sponsors.html">
          <img src="{% static 'images/logos/pembe2.png' %}" alt="image" />
        </a>
      </div>
      <div class="partner-item">
        <a href="sponsors.html">
          <img src="{% static 'images/logos/autoArt.png' %}" alt="image" />
        </a>
      </div>
      <div class="partner-item">
        <a href="sponsors.html">
          <img src="{% static 'images/logos/tech.png' %}" alt="image" />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="video-area">
  <div class="">
    <div class="video-box-image">
      <img src="{% static 'images/logos/homepage.jpg' %}" alt="image" class="video-img" />
      <a
        href="https://www.youtube.com/watch?v=oG9reZJv6DY"
        class="video-btn popup-youtube"
      >
        <i class="bx bx-play"></i>
      </a>
    </div>
  </div>
</div>
<footer class="footer-area pt-100 pb-75">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <div class="widget-logo">
            <a href="index.html">
              <img src="{% static 'images/logos/logo.jpg' %}" alt="image"  class="footer-img"/>
            </a>
          </div>
          <p>
            Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
            lorem quis bibendum auctor nisi elit consequat ipsum thnec sagittis
            sem nibh id elit.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h3>Our Company</h3>
          <ul class="footer-links-list">
            <li><a href="about.html">Career</a></li>
            <li><a href="sponsors.html">Legal Information</a></li>
            <li><a href="sponsors.html">Credits</a></li>
            <li><a href="schedules.html">Schedules</a></li>
            <li><a href="events.html">Events</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h3>Follow Us</h3>
          <ul class="footer-links-list">
            <li>
              <a href="https://www.facebook.com/" target="_blank">Facebook</a>
            </li>
            <li>
              <a href="https://twitter.com/?lang=en" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">Instagram</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank">Linkedin</a>
            </li>
            <li>
              <a href="https://www.youtube.com/" target="_blank">Youtube</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h3>Quick Contact</h3>
          <ul class="widget-info">
            <li>
              <i class="bx bxs-map"></i>
              Enterprise Road
            </li>
            <li>
              <i class="bx bxs-phone"></i>
              <a href="tel:0023567890">+254 703 248870</a>
            </li>
            <li>
              <i class="bx bx-envelope-open"></i>
              <a
                href=""
                ><span
                  >greatdrive@gmail.com</span
                ></a
              >
            </li>
          </ul>
          <ul class="widget-social">
            <li>
              <a href="https://twitter.com/?lang=en" target="_blank">
                <i class="bx bxl-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/The-Great-Drive-103318531614741/" target="_blank">
                <i class="bx bxl-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="bx bxl-instagram-alt"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank">
                <i class="bx bxl-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright-area">
  <div class="container">
    <div class="copyright-area-content">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <p>
            Copyright © 2021 greatdrive All Rights Reserved by
            <a href="" target="_blank"> GreatDrive </a>
          </p>
        </div>
        <div class="col-lg-6 col-md-6">
          <ul>
            <li>
              <a href="terms-of-service.html">Terms of Service</a>
            </li>
            <li>
              <a href="privacy-policy.html">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="go-top">
  <i class="bx bx-chevron-up"></i>
</div>
{% endblock content %}
